# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.py.class

# Environments
.env
.env.*
**/.env
.venv/
venv/
ENV/

# Django
staticfiles/
media/

# VSCode
.vscode/

# Node
node_modules/

# OS
 
# Allow environment template
!.env.example
.DS_Store
Thumbs.db

# Database dumps and fixtures (keep local, ignore in Git)
scholarship_backend/auth.json
scholarship_backend/users.json
scholarship_backend/tokens.json
scholarship_backend/allauth.json
scholarship_backend/auth_meta.json
scholarship_backend/contenttypes.json
scholarship_backend/scholarships.json
